.monitor {
    display: flex;
    flex-flow: column;
    height: 300px;
}

.flex {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
}

.monitor-content {
    height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
}

.sortable .panel-heading {
    cursor: move;
}

.panel-body .btn {
    margin-bottom: 5px;
}

.right {
    float: right;
}

.align-right {
    text-align: right;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
.flip-container.settings .flipper {
    transform: rotateY(180deg);
}

/*.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}*/

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	background: white;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.droppable {
    border: 1px solid #777777;
    border-style: dashed;
}

.chart, .liquidFillGaugeCircle, .liquidFillGaugeText, .liquidFillGaugeWaveText, .liquidFillGaugeWave {
    transition: fill .4s ease;
}

.chart.low .liquidFillGaugeCircle {
    fill: #77DD77;
}
.chart.low .liquidFillGaugeText {
    fill: #44DD44;
}
.chart.low .liquidFillGaugeWaveText {
    fill: #99FF99;
}
.chart.low .liquidFillGaugeWave {
    fill: #CCDDCC;
}

.chart.medium .liquidFillGaugeCircle {
    fill: #DDDD77;
}
.chart.medium .liquidFillGaugeText {
    fill: #DDDD44;
}
.chart.medium .liquidFillGaugeWaveText {
    fill: #FFFF99;
}
.chart.medium .liquidFillGaugeWave {
    fill: #DDDDCC;
}

.chart.high .liquidFillGaugeCircle {
    fill: #FF7777;
}
.chart.high .liquidFillGaugeText {
    fill: #FF4444;
}
.chart.high .liquidFillGaugeWaveText.liquidFillGaugeWaveText {
    fill: #FF9999;
}
.chart.high .liquidFillGaugeWave {
    fill: #FFDDDD;
}
