<!DOCTYPE HTML>
<html ng-app="dashboardApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Urim - Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/build/urim-ng.min.css" />
    <script src="/build/urim-ng.min.js"></script>
    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="dashboardApp" layout="column">
<md-toolbar class="md-menu-toolbar ng-cloak">
    <md-menu-bar id="main-nav" class="md-toolbar-tools">
        <span class="md-title small-caps">Urim</span>
        <md-menu ng-controller="DashboardController as dashboard"
                 ng-show="dashboard.logged_in()" flex="">
            <button class="small-caps"
                    ng-click="$mdOpenMenu()">{{dashboard.dashboards[dashboard.current].name || "None"}} <span
                    class="sr-only">
                (current)</span> <span class="fa fa-caret-down"></span></button>
            <md-menu-content>
                <md-menu-item ng-repeat="board in dashboard.unselected()"><md-button class="small-caps" ng-click="dashboard.select(board)">{{dashboard.dashboards[board].name}}</md-button></md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item class="md-indent">
                    <md-icon><i class="fa fa-plus"></i></md-icon>
                    <md-button ng-click="dashboard.open_new_popup()">New Dashboard</md-button></md-menu-item>
                <md-menu-item class="md-indent">
                    <md-icon><i class="fa fa-clone"></i></md-icon>
                    <md-button ng-click="dashboard.copy()">Copy Dashboard</md-button></md-menu-item>
                <md-menu-item class="md-indent">
                    <md-icon><i class="fa fa-edit"></i></md-icon>
                    <md-button ng-click="dashboard.open_edit_popup()">Edit Dashboard</md-button></md-menu-item>
                <md-menu-item class="md-indent">
                    <md-icon><i class="fa fa-minus"></i></md-icon>
                    <md-button ng-click="dashboard.confirm_delete_popup()">Delete Dashboard</md-button></md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu class="nav navbar-nav navbar-right" ng-controller="UserController as user">
            <button id="login_dropdown_button" class="dropdown-toggle small-caps"
                    ng-click="$mdOpenMenu()">{{user.logged_in ? user.user.username : "Log In"}} <span
                    class="fa fa-caret-down"></span></button>
            <md-menu-content style="min-width:200px;">
                <md-content class="md-inline-form" layout="column" layout-padding="10">
                    <md-toolbar class="md-warn" ng-show="user.error"><div class="md-toolbar-tools"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{user.error_message}}</div></md-toolbar>
                    <div class="alert alert-success" ng-show="user.success" role="alert">{{user.success_message}}</div>
                    <form name="loginForm" layout="column">
                        <md-input-container>
                            <label>Username</label>
                            <input id="login_username_input" type="text" ng-model="user.user.username" placeholder="Username" />
                        </md-input-container>
                        <md-input-container ng-hide="user.show_password">
                            <label>Password</label>
                            <input type="password" ng-model="user.user.password" placeholder="Password" />
                        </md-input-container>
                        <md-input-container ng-show="user.show_password">
                            <label>Password</label>
                            <input type="text" ng-model="user.user.password" placeholder="Password" />
                        </md-input-container>
                        <md-input-container ng-show="user.mode.register &amp;&amp; !user.show_password">
                            <label>Confirm Password</label>
                            <input type="password" ng-model="user.confirm_password" placeholder="Repeat Password" />
                        </md-input-container>
                        <md-input-container ng-show="user.mode.register &amp;&amp; user.show_password">
                            <label>Confirm Password</label>
                            <input type="text" ng-model="user.confirm_password" placeholder="Repeat Password" />
                        </md-input-container>
                        <md-input-container>
                            <md-checkbox class="md-primary" type="checkbox" ng-model="user.show_password" aria-label="Show Password"> Show Password</md-checkbox>
                        </md-input-container>
                        <md-input-container ng-show="user.mode.register">
                            <input type="email" ng-model="user.user.email" placeholder="Email" />
                        </md-input-container>
                        <md-input-container ng-show="user.mode.register">
                            <md-select ng-model="user.user.role" aria-label="Role">
                                <md-option value="R_USER">Regular User</md-option>
                                <md-option value="RW_USER">Power User</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-show="user.mode.login">
                                <md-checkbox class="md-primary" type="checkbox" ng-model="user.remember_me" aria-label="Remember Me"> Remember Me</md-checkbox>
                        </md-input-container>
                        <md-button type="submit" ng-click="user.login()" ng-class="{'md-primary': user.mode.login}" class="md-raised pull-right" ng-hide="user.logged_in" aria-label="Login">Log in</md-button>&nbsp;
                        <md-button type="submit" ng-click="user.register()" ng-class="{'md-primary': user.mode.register}" class="md-raised pull-right" ng-hide="user.logged_in" aria-label="Register">Register</md-button>
                        <md-button type="submit" ng-click="user.logout()" class="md-raised md-primary pull-right" ng-show="user.logged_in" aria-label="Log out">Log out</md-button>
                    </form>
                </md-content>
            </md-menu-content>
        </md-menu>
        <md-button ng-controller="UserController as user" ng-show="user.logged_in"
                   ng-click="user.open_settings_popup()"><i class="fa fa-cog" aria-hidden="true" title="Settings" aria-label="Settings"></i>
        </md-button>
        <md-button ng-controller="UserController as user" ng-hide="user.logged_in" aria-label="Switch Themes"><a href="/bs"><i class="fa fa-paint-brush" aria-hidden="true" title="Switch to Bootstrap Theme"></i></a></md-button>
        <md-button ng-controller="UserController as user" ng-show="user.logged_in" aria-label="Switch Themes"><a href="" ng-click="user.change_theme('BOOTSTRAP')"><i class="fa fa-paint-brush" aria-hidden="true" title="Switch to Bootstrap Theme"></i></a></md-button>
    </md-menu-bar>
</md-toolbar>

<md-content class="ng-cloak" ng-controller="MonitorController as monitor" id="dashboard_content"
     ng-show="monitor.current_dashboard() > ''" layout="column" flex="">
    <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript!  Websocket relies on Javascript being enabled.  Please enable Javascript and reload this page!</h2></noscript>
    <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height="1:1.24" md-gutter="12px" flex="">
        <md-grid-tile md-rowspan="1" md-colspan="2" ng-repeat="mon in monitor.ordered_monitors()" repeat-final="" id="monitor_{{mon.id}}" data-id="{{mon.id}}" layout="column" ng-drop="true">
            <md-card class="monitor" layout="row" flex="100" ng-drag="true" ng-drag-data="mon">
                <md-toolbar class="clearfix small-caps" ng-drag-handle="true">
                    <div class="md-toolbar-tools">
                        <span class="md-title md-background" flex="">{{mon.name ? mon.name : "Unnamed"}}</span>
                        <md-button type="button" class="md-icon-button" id="monitor_error_{{mon.id}}" ng-show="monitor.has_errors[mon.id]" data-placement="bottom" aria-label="Warning"><md-tooltip>{{monitor.errors[mon.id]}}</md-tooltip><i class="fa fa-warning warning"></i></md-button>
                        <md-button type="button" ng-click="monitor.flip_monitor(mon.id);" class="md-icon-button" ng-class="{'md-background': !monitor.flipped[mon.id], 'md-accent': monitor.flipped[mon.id]}" aria-label="Settings"><i class="fa" ng-class="{'fa-cog': !monitor.flipped[mon.id], 'fa-check-circle': monitor.flipped[mon.id]}"></i></md-button>
                    </div>
                </md-toolbar>
                <md-card-content class="flex" flex="">
                    <div class="flip-container flex" ng-class="{'settings': monitor.flipped[mon.id]}">
                        <div class="flipper flex">
                            <div class="flex front monitor-content" ng-click="monitor.flip_monitor(mon.id);">
                                <div class="fill-height" ng-show="mon.show_raw &amp;&amp; !monitor.flipped[mon.id]">
                                    {{mon.url}}&nbsp;{{mon.monitorType}}&nbsp;{{mon.statType}}&nbsp;{{mon.parser}}&nbsp;{{mon.chart}}&nbsp;{{mon.protocol}}&nbsp;{{mon.interval}}<br />{{monitor.get_results(mon.id)}}
                                </div>
                                <div class="fill-height" ng-hide="mon.show_raw">
                                    <svg id="chart_{{mon.id}}" width="97%" height="97%" class="chart" onclick="return false;"></svg>
                                </div>
                            </div>
                            <div class="flex back monitor-content" layout-padding="">
                                <form layout="column">
                                    <md-input-container>
                                        <input id="monitor_name_{{mon.id}}" type="text" class="input-sm" placeholder="Monitor Name" title="Monitor Name" ng-model="mon.name" />
                                    </md-input-container>
                                    <md-input-container>
                                        <input id="monitor_url_{{mon.id}}" type="text" class="input-sm" placeholder="URL" title="URL" ng-model="mon.url" />
                                    </md-input-container>
                                    <md-input-container>
                                        <label for="monitor_type_{{mon.id}}">Monitor Type</label>
                                        <md-select id="monitor_type_{{mon.id}}" class="input-sm" title="Monitor Type" ng-model="mon.monitorType">
                                            <md-option value="system">System</md-option>
                                            <md-option value="script">Script</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container ng-show="mon.monitorType == 'system'">
                                        <label for="monitor_stat_{{mon.id}}">System Stat</label>
                                        <md-select id="monitor_stat_{{mon.id}}" class="input-sm" title="System Stat" ng-model="mon.statType">
                                            <md-option value="cpu">CPU</md-option>
                                            <md-option value="ram">Memory</md-option>
                                            <md-option value="fs">Disk Space</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container ng-show="mon.monitorType == 'script'">
                                        <input id="monitor_script_{{mon.id}}" type="text" class="input-sm" placeholder="Script Name" title="Script Name" ng-model="mon.script" />
                                    </md-input-container>
                                    <md-input-container ng-show="mon.monitorType == 'script'">
                                        <label for="monitor_parser_{{mon.id}}">Output Parser</label>
                                        <textarea id="monitor_parser_{{mon.id}}" class="form-control input-sm" title="Output Parser" ng-model="mon.parser">
                                        </textarea>
                                    </md-input-container>
                                    <md-input-container ng-show="mon.monitorType == 'script'">
                                        <label for="monitor_chart_{{mon.id}}">Chart Type</label>
                                        <md-select id="monitor_chart_{{mon.id}}" class="input-sm" title="Chart Type" ng-model="mon.chart">
                                            <md-option value="status">Status</md-option>
                                            <md-option value="gauge">Gauge</md-option>
                                            <md-option value="bar">Bar Chart</md-option>
                                            <md-option value="line">Line Chart</md-option>
                                            <md-option value="pie">Pie Chart</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label for="monitor_protocol_{{mon.id}}">Protocol</label>
                                        <md-select id="monitor_protocol_{{mon.id}}" class="input-sm" title="Protocol" ng-model="mon.protocol">
                                            <md-option value="rest">REST</md-option>
                                            <md-option value="mq">MQ</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label for="monitor_interval_{{mon.id}}">Interval</label>
                                        <md-select id="monitor_interval_{{mon.id}}" class="input-sm" title="Interval" ng-model="mon.interval">
                                            <md-option value="s5">5 seconds</md-option>
                                            <md-option value="s10">10 seconds</md-option>
                                            <md-option value="s30">30 seconds</md-option>
                                            <md-option value="m1">1 minute</md-option>
                                            <md-option value="m5">5 minutes</md-option>
                                            <md-option value="m15">15 minutes</md-option>
                                            <md-option value="m30">30 minutes</md-option>
                                            <md-option value="h1">1 hour</md-option>
                                            <md-option value="h2">2 hours</md-option>
                                            <md-option value="d1">1 day</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <md-button type="button" class="md-raised md-default" ng-click="monitor.copy_monitor(mon.id)"><i class="fa fa-clone"></i> Copy Monitor</md-button>
                                        <md-button type="button" class="md-raised md-warn" ng-click="monitor.confirm_delete_popup(mon.id, mon.name)"><i class="fa fa-minus"></i> Remove Monitor</md-button>
                                    </md-input-container>
                                </form>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
        <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-xs="2" layout="column">
            <md-card class="monitor" layout="row" flex="100">
                <md-toolbar class="clearfix small-caps">
                    <div class="md-toolbar-tools">
                        <span class="md-title">Monitor Actions</span>
                    </div>
                </md-toolbar>
                <md-card-content class="flex" layout="column" flex="">
                    <md-button type="button" ng-click="monitor.add_monitor()" class="md-raised md-default"><i class="fa fa-plus-circle"></i> Add Monitor</md-button>
                    <md-button type="button" ng-click="monitor.toggle_monitoring()" class="md-raised" ng-class="{'md-primary': !monitor.monitoring, 'md-warn': monitor.monitoring}"><i class="fa" ng-class="{'fa-play-circle': !monitor.monitoring, 'fa-stop-circle': monitor.monitoring}"></i> {{monitor.monitoring ? "Stop Monitoring" : "Start Monitoring"}}</md-button>
                    <div layout="row" layout-align="center center" flex="">
                        <div>
                            <i class="fa fa-refresh fa-2x" ng-class="{'fa-pulse': !monitor.monitoring &amp;&amp; monitor.automatic_reconnect, 'success': monitor.monitoring &amp;&amp; monitor.automatic_reconnect, 'disabled': !monitor.automatic_reconnect}" title="Monitoring Status"></i>
                        </div>
                        <div>
                            <i class="fa fa-exclamation-circle fa-2x" ng-class="{'failure': monitor.session_expired, 'disabled': !monitor.session_expired}" title="Session Status"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</md-content>

<md-content class="ng-cloak" id="intro_content" ng-controller="DashboardController as dashboard"
     ng-hide="dashboard.logged_in()" flex="" layout="column" layout-padding="">
    <md-content layout="row">
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
        <div flex="" layout-align="center center">
            <h1 class="md-display-2">Introducing Urim</h1>
            <p>A flexible and extensible dashboard application</p>
            <div class="control-group">
                <md-button class="md-raised md-primary md-lg" href="https://github.com/wayz-of-chang/Urim" role="button"><i class="fa fa-download"></i> Download Urim</md-button>
            </div>
            <p>&nbsp;</p>
        </div>
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
    </md-content>
    <md-content class="bg-info" layout="row">
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
        <div flex="" layout="column" layout-align="center center">
            <div>
                <h1 class="md-display-1">Features</h1>
            </div>
            <md-content layout="row">
                <md-card flex="33" layout-align="start center">
                    <md-card-title><md-card-title-text><span class="md-headline">100% free and open-source</span></md-card-title-text></md-card-title>
                    <md-card-content flex="">
                        This application is licensed under the MIT License.  Third-party libraries used include: Spring Boot, jQuery, AngularJS, D3, StompJS, SockJS, Mocha, Chai, Bootstrap, and a modified Liquid Fill Gauge (by Curtis Bratton), all of which are also free and open-source.
                    </md-card-content>
                </md-card>
                <md-card flex="33" layout-align="start center">
                    <md-card-title><md-card-title-text><span class="md-headline">Multiple levels of customization</span></md-card-title-text></md-card-title>
                    <md-card-content flex="">
                        Using the distributable Jar file, as-is, allows for specifying execution scripts, chart types, and output parsers - the moving pieces that need to be versatile.  Or, rolling your own by downloading the source code, making any desired customization, and compiling the application allows for any modification.  Just be warned that should you choose to go down this path, the author does not claim any responsibility for the consequences that result.
                    </md-card-content>
                </md-card>
                <md-card flex="33" layout-align="start center">
                    <md-card-title><md-card-title-text><span class="md-headline">Straightforward design</span></md-card-title-text></md-card-title>
                    <md-card-content flex="">
                        Both the data flow and architecture use very basic designs that make the application easy to use and understand.
                    </md-card-content>
                </md-card>
            </md-content>
        </div>
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
    </md-content>
    <md-content layout="row">
        <div flex="" layout="column">
            <div layout="column" layout-align="center center">
                <a id="data_flow"></a>
                <h1 class="md-display-1">Data Flow</h1>
            </div>
            <div hide-md="" hide-lg="">
                <form>
                    <div class="form-group">
                        <md-select class="form-control" onchange="animateDataflow(this, $(this).val());return false;" ng-model="dataflowSelect" aria-label="Dataflow Selection">
                            <md-option value=""></md-option>
                            <md-option value="rest">REST Client (Initialization)</md-option>
                            <md-option value="mq">MQ Client (Initialization)</md-option>
                            <md-option value="settings">Settings</md-option>
                            <md-option value="p-rest">REST Client (Periodic Updates)</md-option>
                            <md-option value="p-mq">MQ Client (Periodic Updates)</md-option>
                        </md-select>
                    </div>
                </form>
            </div>
            <div hide-md="" hide-lg="">
                <md-whiteframe class="md-whiteframe-2dp">Select an option from the drop-down to see a step-by-step guide to how the data is passed through the application.</md-whiteframe>
            </div>
            <div layout="row">
                <div flex-xs="" flex-sm="" flex-md="60" flex-lg="80" layout-padding="">
                    <svg id="chart_dataflow" width="97%" class="chart"></svg>
                </div>
                <div hide-xs="" hide-sm="" flex-md="40" flex-lg="20" layout="column">
                    <md-whiteframe class="md-whiteframe-1dp">
                        <md-toolbar class="md-toolbar-tools">Initialization</md-toolbar>
                        <md-list>
                            <md-list-item class="md-list-item-text">
                                <a class="list-group-item-heading" role="button" href="" onclick="animateDataflow(this, 'rest'); return false;">REST Client</a>
                            </md-list-item>
                            <md-list-item class="md-list-item-text">
                                <a class="list-group-item-heading" role="button" href="" onclick="animateDataflow(this, 'mq'); return false;">MQ Client</a>
                            </md-list-item>
                            <md-list-item class="md-list-item-text">
                                <a class="list-group-item-heading" role="button" href="" onclick="animateDataflow(this, 'settings'); return false;">Settings</a>
                            </md-list-item>
                        </md-list>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-1dp">
                        <md-toolbar class="md-toolbar-tools">Periodic Updates</md-toolbar>
                        <md-list>
                            <md-list-item class="md-list-item-text">
                                <a class="list-group-item-heading" role="button" href="" onclick="animateDataflow(this, 'p-rest'); return false;">REST Client</a>
                            </md-list-item>
                            <md-list-item class="md-list-item-text">
                                <a class="list-group-item-heading" role="button" href="" onclick="animateDataflow(this, 'p-mq'); return false;">MQ Client</a>
                            </md-list-item>
                        </md-list>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-2dp">
                        <div class="dataflow-description" layout-padding="">Select an option from the drop-down to see a step-by-step guide to how the data is passed through the application.</div>
                    </md-whiteframe>
                </div>
            </div>
        </div>
    </md-content>
    <md-content class="bg-info" layout="row">
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
        <div flex="" layout="column">
            <div layout="column" layout-align="center center">
                <h1 class="md-display-1">Data Model</h1>
            </div>
            <svg id="chart_datastructure" flex="" class="chart"></svg>
        </div>
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
    </md-content>
    <md-content layout="row">
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
        <div>
            <div layout="column" layout-align="center center">
                <h1 class="md-display-1">Monitor Settings</h1>
            </div>
            <p>Each monitor is able to display stats from a system on a separate client.  The following are the details for each parameter that can be specified.</p>
            <h3>Monitor Name</h3>
            <p>The name of the monitor.  This field is displayed in the heading of the monitor, and serves to identify the monitor for the user.  It does not need to be unique; multiple monitors may have the same name, though that doesn't make much sense.</p>
            <h3>URL</h3>
            <p>The HTTP address of the client machine, as accessible by the server.  This may or may not be the same as the address as accessible by the user's web browser.  The HTTP address must be available to the server in order for the monitor to be able to retrieve the desired stats.</p>
            <h3>Monitor Type</h3>
            <p>The type of monitoring to perform.  Depending on the selection chosen, <code>System</code> or <code>Script</code>, this determines the other settings are available.</p>
            <dl class="dl-horizontal">
                <dt>System</dt>
                <dd>This will monitor a system stat (<code>CPU</code>, <code>RAM</code>, or <code>Disk Space</code>) depending on the <code>System Stat</code> setting, and display the results as a <code>Gauge</code>.</dd>
                <dt>Script</dt>
                <dd>This will monitor any custom script specified by the <code>Script Name</code> setting, parse the output generated by the script with the specified <code>Output Parser</code> setting (a blob of javascript), and render the output of the Output Parser with the specified <code>Chart Type</code> setting (<code>Status</code>, <code>Gauge</code>, <code>Bar Chart</code>, <code>Pie Chart</code>, or <code>Line Chart</code> - see the <a href="#chart_types">Chart Types</a> section for more information).</dd>
            </dl>
            <h3>Protocol</h3>
            <p>The way the data is sent back and forth in the application.  Two choices are supported: <code>REST</code> and <code>MQ</code>.  See the <a href="#data_flow">Data Flow</a> section for the differences between the two choices.</p>
            <h3>Interval</h3>
            <p>The time between updates.  Choices range from <code>5 seconds</code> to <code>1 day</code>.</p>
            <p>More details concerning the <code>Script</code>, <code>Chart Type</code>, <code>Output Parser</code>, and <code>Protocol</code> can be found under the <a href="#configuration">Configuration</a> section.</p>
        </div>
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
    </md-content>
    <md-content class="bg-info" layout="row">
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
        <div flex="">
            <div layout="column" layout-align="center center">
                <a id="chart_types"></a>
                <h1 class="md-display-1">Chart Types</h1>
            </div>
            <p>This application comes with a number of charts which hopefully covers all the common cases of intuitively displaying monitor statuses.</p>
            <h3>Status Indicator</h3>
            <div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row">
                <div flex-md="60" flex-lg="80" class="monitor">
                    <svg id="chart_example_status" width="97%" height="97%" class="chart" onclick="return false;"></svg>
                </div>
                <div flex-md="" flex-lg=""><pre id="raw_example_status"></pre></div>
            </div>
            <dl class="dl-horizontal">
                <dt>Purpose</dt>
                <dd>for monitoring one data source and giving color-coded status indication</dd>
                <dt>Return format <i class="fa fa-question-circle"><md-tooltip md-direction="top">This is what the
                    format of the output parser should be"</md-tooltip></i></dt>
                <dd><code>{ 'value': value, 'status': status }</code></dd>
                <dt>Arguments</dt>
                <dd>
                    <ul>
                        <li><code>value</code> is any arbitrary string, and</li>
                        <li><code>status</code> is one of the following: "success", "warning", or "failure", where its value determines the color (green, yellow, or red, respectively) shown</li>
                    </ul>
                </dd>
            </dl>
            <h3>Gauge</h3>
            <div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row">
                <div flex-md="60" flex-lg="80" class="monitor">
                    <svg id="chart_example_gauge" width="97%" height="97%" class="chart" onclick="return false;"></svg>
                </div>
                <div flex-md="" flex-lg=""><pre id="raw_example_gauge"></pre></div>
            </div>
            <dl class="dl-horizontal">
                <dt>Purpose</dt>
                <dd>for monitoring one data source where the value itself is important and there is a clearly-defined ceiling</dd>
                <dt>Return format <i class="fa fa-question-circle"><md-tooltip md-direction="top">This is what the format of the output parser should be"</md-tooltip></i></dt>
                <dd><code>{ 'value': value, 'max': max, 'unit': displayUnit, 'mediumThreshold': mediumThreshold, 'highThreshold': highThreshold }</code></dd>
                <dt>Arguments</dt>
                <dd>
                    <ul>
                        <li><code>value</code> is the value of the data source (any arbitrary number),</li>
                        <li><code>max</code> is the maximum number allowed (any arbitrary number),</li>
                        <li><code>unit</code> is the unit to be displayed next to value (any arbitrary string, preferably 2 characters or less),</li>
                        <li><code>mediumThreshold</code> is the ratio of value to max at which the color turns yellow (any number between 0 and 1), and</li>
                        <li><code>highThreshold</code> is the ratio of value to max at which the color turns red (any number between <code>mediumThreshold</code> and 1); if the ratio of value to max is under <code>mediumThreshold</code>, then the color is green</li>
                    </ul>
                </dd>
            </dl>
            <h3>Bar Chart</h3>
            <div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row">
                <div flex-md="60" flex-lg="80" class="monitor">
                    <svg id="chart_example_bar" width="97%" height="97%" class="chart" onclick="return false;"></svg>
                </div>
                <div flex-md="" flex-lg=""><pre id="raw_example_bar"></pre></div>
            </div>
            <dl class="dl-horizontal">
                <dt>Purpose</dt>
                <dd>for monitoring one or more data sources in comparison with each other</dd>
                <dt>Return format <i class="fa fa-question-circle"><md-tooltip md-direction="top">This is what the format of the output parser should be"</md-tooltip></i></dt>
                <dd><code>{ 'values': values, 'max': max, 'unit': displayUnit, 'mediumThreshold': mediumThreshold, 'highThreshold': highThreshold }</code></dd>
                <dt>Arguments</dt>
                <dd>
                    <ul>
                        <li><code>values</code> is a hash of <code>{ 'value': value }</code> objects (i.e. <code>{ key: {'value': value}, ... ]</code>), where
                            <ul>
                                <li><code>key</code> is the id of the data source (any arbitrary string), and</li>
                                <li><code>value</code> is the value of the data source (any arbitrary number),</li>
                            </ul>
                        </li>
                        <li><code>max</code> is the maximum number allowed (any arbitrary number),</li>
                        <li><code>unit</code> is the unit to be displayed for the y axis (any arbitrary string),</li>
                        <li><code>mediumThreshold</code> is the ratio of value to max at which the color for the bar turns yellow (any number between 0 and 1), and</li>
                        <li><code>highThreshold</code> is the ratio of value to max at which the color turns red (any number between <code>mediumThreshold</code> and 1); if the ratio of value to max is under <code>mediumThreshold</code>, then the color is green</li>
                    </ul>
                </dd>
            </dl>
            <h3>Pie Chart</h3>
            <div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row">
                <div flex-md="60" flex-lg="80" class="monitor">
                    <svg id="chart_example_pie" width="97%" height="97%" class="chart" onclick="return false;"></svg>
                </div>
                <div flex-md="" flex-lg=""><pre id="raw_example_pie"></pre></div>
            </div>
            <dl class="dl-horizontal">
                <dt>Purpose</dt>
                <dd>for monitoring one or more data sources that add up to a total amount</dd>
                <dt>Return format <i class="fa fa-question-circle"><md-tooltip md-direction="top">This is what the format of the output parser should be"</md-tooltip></i></dt>
                <dd><code>{ key: { 'value': value, 'color': color }, ... }</code></dd>
                <dt>Arguments</dt>
                <dd>
                    <ul>
                        <li><code>key</code> is the id of the data source (any arbitrary string),</li>
                        <li><code>value</code> is the value of the data source (any arbitrary number), and</li>
                        <li><code>color</code> is the color used to show the data source (a color string in hex format - i.e. '#XXXXXX')</li>
                    </ul>
                </dd>
            </dl>
            <h3>Line Chart</h3>
            <div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row">
                <div flex-md="60" flex-lg="80" class="monitor">
                    <svg id="chart_example_line" width="97%" height="97%" class="chart" onclick="return false;"></svg>
                </div>
                <div flex-md="" flex-lg=""><pre id="raw_example_line"></pre></div>
            </div>
            <dl class="dl-horizontal">
                <dt>Purpose</dt>
                <dd>for monitoring one or more data sources while keeping a history of up to 50 data points</dd>
                <dt>Return format <i class="fa fa-question-circle"><md-tooltip md-direction="top">This is what the format of the output parser should be"</md-tooltip></i></dt>
                <dd><code>{ key: { 'value': value, 'color': color }, ... }</code></dd>
                <dt>Arguments</dt>
                <dd>
                    <ul>
                        <li><code>key</code> is the id of the data source (any arbitrary string),</li>
                        <li><code>value</code> is the value of the data source (any arbitrary number), and</li>
                        <li><code>color</code> is the color used to show the data source (a color string in hex format - i.e. '#XXXXXX')</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
    </md-content>
    <md-content layout="row">
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
        <div>
            <div layout="column" layout-align="center center">
                <a id="configuration"></a>
                <h1 class="md-display-1">Configuration</h1>
            </div>
            <p>While there are many dashboard applications out there, this particular application aims to strike the perfect balance between customization and simplicity, by providing a solid data flow while exposing key parts of the application for customization.  The intention is that users will not be compelled to have to introduce hacks in order to extend needed functionality to this application, though should the user wish to do so, that is also possible.  To accomplish this goal, a few crucial handles are exposed: the name of a script to be run on the client, the chart type, and the output parser. This allows the user to specify the data (s)he wishes to monitor, set the chart type to appropriately render the information, and also to massage the data so that the chart type can process and render the results.</p>
            <h3>Script</h3>
            <p>The script should be placed in a <code>scripts</code> directory that is on the same level as the <code>.jar</code> file. Some examples are present when extracting the distribution <code>.zip</code> file. Currently, Windows <code>.bat</code> files and Linux/Mac OSX <code>.sh</code> files are supported. On Linux and/or Mac OSX systems, the executable permission may need to be set explicitly on the script file. What the output of the script is supposed to be is open-ended.  It is up to the user what (s)he wants to return from this script.  Whatever the output is, the client will return to the server, and the server will return to the browser.  It is then the output parser's job to parse the output and extract the information.</p>
            <h3>Chart Type</h3>
            <p>The chart type includes many various types, which are explained in more detail in the <a href="#chart_types">Chart Types</a> section. If none is specified, the raw JSON response will be printed.</p>
            <h3>Output Parser</h3>
            <p>This is an inline JS function that is evaluated every time the monitor response is available. What is returned here is the value used to update the chart. Thus, it is the job of this function to return something in a format that is valid to the chart type being used. Each chart type has a specific format, which is explained in more detail in the <a href="#chart_types">Chart Types</a> section. <b>Note: The maximum length of the output parser is 1023 characters long.</b> This number was chosen both as a sane number large enough for accomplishing the job of massaging the data to fit the inputs for the charts, and small enough to not negatively impact performance too much and to discourage potential security exploits (where custom JS is run, there is the potential it can cause harm to the user's system).</p>
            <h3>Protocol</h3>
            <p>There are two main data flows supported by this application - REST and MQ (Message Queue via RabbitMQ). When REST is selected, the server will periodically send REST webservice requests to clients. Clients will respond with JSON responses, which will then be sent to the browser. This is the simplest data flow. When MQ is selected, the server will periodically send REST webservice requests to clients to start the clients. Clients will then periodically send messages to the message queue, which the server will listen for. Once a message appears in the message queue, the server will consume it by parsing the message, and persisting it in MongoDB. Concurrently, the server will be returning responses found in MongoDB within the last 5 seconds (every 5 seconds) to the browser. With MQ, the data flow is significantly more complex, with quite a few extra moving pieces, as follows:</p>
            <ul>
                <li>Every time a client receives a start REST request to start the MQ, the client will send a maximum of 10 messages before stopping.</li>
                <li>In order to keep the client running, the server sends periodic start REST requests every four messages, which will reset the client's remaining message count.</li>
                <li>Messages older than 1 minute old are cleared from MongoDB.  Messages stored this way is meant to be a cache, as opposed to a permanent storage place.</li>
            </ul>
        </div>
        <div hide-xs="" hide-sm="" flex-md="10" flex-lg="20"></div>
    </md-content>
</md-content>

<div id="dashboard_modals_container" ng-controller="DashboardController as dashboard" class="modals_container">
    <div id="new_dashboard_modal" tabindex="-1" class="md-dialog-container">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-title md-background" flex="">Create a New Dashboard</span>
                    <md-button type="button" ng-click="dashboard.cancel_new_dashboard_modal()" class="md-icon-button md-background">&times;</md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-padding="">
                <div class="alert alert-danger" ng-show="dashboard.new_dashboard.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{dashboard.new_dashboard.error_message}}</div>
                <div class="alert alert-success" ng-show="dashboard.new_dashboard.success" role="alert">{{dashboard.new_dashboard.success_message}}</div>
                <form>
                    <md-input-container>
                        <input id="new_dashboard_name" type="text" ng-model="dashboard.new_dashboard.name" class="input-sm" placeholder="Name" />
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-primary" ng-click="dashboard.create_new_dashboard()">Create</md-button>&nbsp;
                <md-button type="button" class="md-raised md-background" data-dismiss="modal" ng-click="dashboard.cancel_new_dashboard_modal()">Cancel</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
    <div id="edit_dashboard_modal" class="md-dialog-container" tabindex="-1">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-title md-background" flex="">Edit Dashboard</span>
                    <md-button type="button" ng-click="dashboard.cancel_edit_dashboard_modal()" class="md-icon-button md-background">&times;</md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-padding="">
                <div class="alert alert-danger" ng-show="dashboard.edit_dashboard.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{dashboard.edit_dashboard.error_message}}</div>
                <div class="alert alert-success" ng-show="dashboard.edit_dashboard.success" role="alert">{{dashboard.edit_dashboard.success_message}}</div>
                <form>
                    <input type="hidden" id="edit_dashboard_id" ng-model="dashboard.current" class="form-control" />
                    <md-input-container>
                        <input type="text" id="edit_dashboard_name" ng-model="dashboard.dashboards[dashboard.current].name" class="form-control" placeholder="Name" />
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-primary" ng-click="dashboard.update()">Edit</md-button>&nbsp;
                <md-button type="button" class="md-raised md-background" data-dismiss="modal" ng-click="dashboard.cancel_edit_dashboard_modal()">Cancel</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
    <div id="delete_dashboard_modal" class="md-dialog-container" tabindex="-1">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-title md-background" flex="">Delete Dashboard</span>
                    <md-button type="button" ng-click="dashboard.cancel_delete_dashboard_modal()" class="md-icon-button md-background">&times;</md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-padding="">
                <div class="alert alert-danger" ng-show="dashboard.delete_dashboard.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{dashboard.delete_dashboard.error_message}}</div>
                <div class="alert alert-success" ng-show="dashboard.delete_dashboard.success" role="alert">{{dashboard.delete_dashboard.success_message}}</div>
                <form>
                    <input type="hidden" id="delete_dashboard_id" ng-model="dashboard.current" class="form-control" />
                    <md-input-container>
                        <h4 ng-show="dashboard.current">Delete <span id="delete_dashboard_name">{{dashboard.dashboards[dashboard.current].name}}</span>?</h4>
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-warn" ng-click="dashboard.delete()">Delete</md-button>&nbsp;
                <md-button type="button" class="md-raised md-background" data-dismiss="modal" ng-click="dashboard.cancel_delete_dashboard_modal()">Cancel</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>
<div id="monitor_modals_container" ng-controller="MonitorController as monitor" class="modals_container">
    <div id="delete_monitor_modal" class="md-dialog-container" tabindex="-1">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-title md-background" flex="">Delete Monitor</span>
                    <md-button type="button" ng-click="monitor.cancel_delete_monitor_modal()" class="md-icon-button md-background">&times;</md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-padding="">
                <div class="alert alert-danger" ng-show="monitor.delete_monitor.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{monitor.delete_monitor.error_message}}</div>
                <div class="alert alert-success" ng-show="monitor.delete_monitor.success" role="alert">{{monitor.delete_monitor.success_message}}</div>
                <form>
                    <input type="hidden" id="delete_monitor_id" value="{{monitor.delete_monitor.id}}" class="form-control" />
                    <md-input-container>
                        <h4 ng-show="monitor.delete_monitor.id">Delete <span id="delete_monitor_name">{{monitor.delete_monitor.name}}</span>?</h4>
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-warn" ng-click="monitor.delete(monitor.delete_monitor.id)">Delete</md-button>&nbsp;
                <md-button type="button" class="md-raised md-background" data-dismiss="modal" ng-click="monitor.cancel_delete_monitor_modal()">Cancel</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>
<div id="user_modals_container" ng-controller="UserController as user" class="modals_container">
    <div id="user_settings_modal" class="md-dialog-container" tabindex="-1">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-title md-background" flex="">User Settings</span>
                    <md-button type="button" ng-click="user.close_settings_popup()" class="md-icon-button md-background">&times;</md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-padding="">
               <form>
                    <div class="form-group">
                        <h4 ng-show="user.user_settings().current_dashboard">Current Dashboard: {{user.dashboards()[user.user_settings().current_dashboard + ""].name}}
                            <!--<select id="user_settings_current_dashboard" ng-model="user.user_settings().current_dashboard">
                                <option ng-repeat="option in user.dashboard_keys()" value="{{option}}">{{user.dashboards()[option].name}}</option>
                            </select>-->
                        </h4>
                        <h4>Monitors:</h4>
                        <div class="table-responsive" ng-repeat="mon in user.monitor_order()">
                            <h5><strong>{{user.monitors()[mon].name}}</strong></h5>
                            <table class="table">
                                <tr>
                                    <td class="text-right">URL</td><td>{{user.monitors()[mon].url}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Monitor Type</td><td class="small-caps capitalize">{{user.monitors()[mon].monitorType}}</td>
                                </tr>
                                <tr ng-show="user.monitors()[mon].monitorType == 'system'">
                                    <td class="text-right">Stat Type</td><td class="small-caps caps">{{user.monitors()[mon].statType}}</td>
                                </tr>
                                <tr ng-show="user.monitors()[mon].monitorType == 'script'">
                                    <td class="text-right">Script Name</td><td class="small-caps">{{user.monitors()[mon].script}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Interval</td><td class="small-caps capitalize">{{user.monitors()[mon].interval}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Protocol</td><td class="small-caps caps">{{user.monitors()[mon].protocol}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Chart Type</td><td class="small-caps capitalize">{{user.monitors()[mon].chart || "json"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Output Parser</td><td>{{user.monitors()[mon].parser}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-warn" ng-click="user.export()">Export Data</md-button>&nbsp;
                <md-button class="md-raised md-warn btn-file"><span>Import Data</span><input id="user_upload" type="file" name="file" data-url="/users/import" class="hidden" /></md-button>&nbsp;
                <md-button type="button" class="md-raised md-primary"
                        ng-click="user.change_theme('BOOTSTRAP')">Use Bootstrap Theme</md-button>&nbsp;
                <md-button type="button" class="md-raised md-primary" href="/swagger-ui.html">View Backend API</md-button>&nbsp;
                <md-button type="button" class="md-raised md-background" data-dismiss="modal" ng-click="user.close_settings_popup()">Close</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

</body>
</html>