<!DOCTYPE HTML>
<html ng-app="dashboardApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/application.css" />
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/sockjs-1.1.1.js"></script>
    <script src="/js/stomp.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-touch.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/d3.js"></script>
    <script type="text/javascript">
        app = angular.module('dashboardApp', []);
    </script>
    <script src="/js/application.js"></script>
    <script src="/js/angularService.js"></script>
    <script src="/js/userController.js"></script>
    <script src="/js/dashboardController.js"></script>
    <script src="/js/monitorController.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav" ng-controller="DashboardController as dashboard">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{dashboard.dashboards[dashboard.current].name || "None"}}<span class="sr-only">(current)</span><span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li ng-repeat="board in dashboard.unselected()"><a href="" ng-click="dashboard.select(board)">{{dashboard.dashboards[board].name}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="dashboard.open_new_popup()"><i class="fa fa-plus"></i> New Dashboard</a></li>
                        <li><a href="" ng-click="dashboard.copy()"><i class="fa fa-clone"></i> Copy Dashboard</a></li>
                        <li><a href="" ng-click="dashboard.open_edit_popup()"><i class="fa fa-edit"></i> Edit Dashboard</a></li>
                        <li><a href="" ng-click="dashboard.confirm_delete_popup()"><i class="fa fa-minus"></i> Delete Dashboard</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="UserController as user">
                <li class="dropdown">
                    <a id="login_dropdown_button" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.logged_in ? user.user.username : "Log In"}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:200px;">
                        <li class="container-fluid">
                            <div class="alert alert-danger" ng-show="user.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{user.error_message}}</div>
                            <div class="alert alert-success" ng-show="user.success" role="alert">{{user.success_message}}</div>
                            <form>
                                <div class="form-group">
                                    <input id="login_username_input" type="text" ng-model="user.user.username" class="form-control" placeholder="Username" />
                                </div>
                                <div class="form-group" ng-hide="user.show_password">
                                    <input type="password" ng-model="user.user.password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group" ng-show="user.show_password">
                                    <input type="text" ng-model="user.user.password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group" ng-show="user.mode.register &amp;&amp; !user.show_password">
                                    <input type="password" ng-model="user.confirm_password" class="form-control" placeholder="Repeat Password" />
                                </div>
                                <div class="form-group" ng-show="user.mode.register &amp;&amp; user.show_password">
                                    <input type="text" ng-model="user.confirm_password" class="form-control" placeholder="Repeat Password" />
                                </div>
                                <div class="form-group checkbox pull-right">
                                    <label>
                                        <input type="checkbox" ng-model="user.show_password" /> Show Password
                                    </label>
                                </div>
                                <div class="form-group" ng-show="user.mode.register">
                                    <input type="text" ng-model="user.user.email" class="form-control" placeholder="Email" />
                                </div>
                                <div class="form-group" ng-show="user.mode.register">
                                    <select ng-model="user.user.role" class="form-control">
                                        <option value="R_USER">Regular User</option>
                                        <option value="RW_USER">Power User</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" ng-click="user.login()" ng-class="{'btn-primary': user.mode.login, 'btn-default': user.mode.register}" class="btn navbar-btn">Login</button>
                                    <button type="submit" ng-click="user.register()" ng-class="{'btn-primary': user.mode.register, 'btn-default': user.mode.login}" class="btn navbar-btn">Register</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-cog" aria-hidden="true" title="Settings"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-controller="MonitorController as monitor">
    <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript!  Websocket relies on Javascript being enabled.  Please enable Javascript and reload this page!</h2></noscript>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-repeat="mon in monitor.monitors" id="{{mon.id}}">
        <div class="panel panel-default monitor">
            <div class="panel-heading">
                {{mon.name}} <button type="button" ng-click="monitor.flip_monitor(mon.id);" class="btn right" ng-class="{'btn-default': !monitor.flipped[mon.id], 'btn-success': monitor.flipped[mon.id]}"><i class="fa" ng-class="{'fa-cog': !monitor.flipped[mon.id], 'fa-check-circle': monitor.flipped[mon.id]}"></i></button>
            </div>
            <div class="panel-body">
                <div class="flip-container" ng-class="{'settings': monitor.flipped[mon.id]}">
                    <div class="flipper">
                        <div class="col-xs-12 ccl-sm-12 front" ng-click="monitor.flip_monitor(mon.id);">
                            {{mon.url}}<br />{{mon.monitorType}}<br />{{mon.statType}}<br />{{mon.parser}}<br />{{mon.chart}}<br />{{mon.protocol}}<br />{{mon.interval}}
                        </div>
                        <div class="col-xs-12 ccl-sm-12 back">
                            <form>
                                <div class="form-group">
                                    <input id="monitor_name_{{mon.id}}" type="text" class="form-control input-sm" placeholder="Monitor Name" title="Monitor Name" ng-model="mon.name" />
                                </div>
                                <div class="form-group">
                                    <input id="monitor_url_{{mon.id}}" type="text" class="form-control input-sm" placeholder="URL" title="URL" ng-model="mon.url" />
                                </div>
                                <div class="form-group">
                                    <label for="monitor_type_{{mon.id}}">Monitor Type</label>
                                    <select id="monitor_type_{{mon.id}}" class="form-control input-sm" title="Monitor Type" ng-model="mon.monitorType">
                                        <option value="system">System</option>
                                        <option value="script">Script</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-show="mon.monitorType == 'system'">
                                    <label for="monitor_stat_{{mon.id}}">System Stat</label>
                                    <select id="monitor_stat_{{mon.id}}" class="form-control input-sm" title="System Stat" ng-model="mon.statType">
                                        <option value="cpu">CPU</option>
                                        <option value="ram">Memory</option>
                                        <option value="hdd">Disk Space</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-show="mon.monitorType == 'script'">
                                    <label for="monitor_parser_{{mon.id}}">Output Parser</label>
                                    <textarea id="monitor_parser_{{mon.id}}" class="form-control input-sm" title="Output Parser" ng-model="mon.parser">
                                    </textarea>
                                </div>
                                <div class="form-group" ng-show="mon.monitorType == 'script'">
                                    <label for="monitor_chart_{{mon.id}}">Chart Type</label>
                                    <select id="monitor_chart_{{mon.id}}" class="form-control input-sm" title="Chart Type" ng-model="mon.chart">
                                        <option value="number">Number</option>
                                        <option value="binary">Binary</option>
                                        <option value="pie">Pie Chart</option>
                                        <option value="bar">Bar Graph</option>
                                        <option value="line">Line Graph</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="monitor_protocol_{{mon.id}}">Protocol</label>
                                    <select id="monitor_protocol_{{mon.id}}" class="form-control input-sm" title="Protocol" ng-model="mon.protocol">
                                        <option value="rest">REST</option>
                                        <option value="mq">MQ</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="monitor_interval_{{mon.id}}">Interval</label>
                                    <select id="monitor_interval_{{mon.id}}" class="form-control input-sm" title="Interval" ng-model="mon.interval">
                                        <option value="2s">2 seconds</option>
                                        <option value="10s">10 seconds</option>
                                        <option value="30s">30 seconds</option>
                                        <option value="1m">1 minute</option>
                                        <option value="2m">2 minutes</option>
                                        <option value="10m">10 minutes</option>
                                        <option value="30m">30 minutes</option>
                                        <option value="1h">1 hour</option>
                                        <option value="2h">2 hours</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 monitor" ng-show="monitor.current_dashboard() > ''" ng-click="monitor.add_monitor()">
        <div class="button panel panel-default monitor">
            <div class="panel-body">
                <i class="fa fa-plus-circle"></i><b>Add Monitor</b>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p th:text="'Dashboard'" />
        <div>
            <div>
                <button class="btn" id="connect" onclick="connect();">Connect</button>
                <button class="btn" id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
            </div>
            <div id="conversationDiv">
                <label>What is your name?</label><input type="text" id="name" />
                <button class="btn" id="sendName" onclick="sendName();">Send</button>
                <p id="response"></p>
            </div>
        </div>
    </div>
</div>

<div id="dashboard_modals_container" ng-controller="DashboardController as dashboard">
    <div id="new_dashboard_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create a New Dashboard</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="dashboard.new_dashboard.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{dashboard.new_dashboard.error_message}}</div>
                    <div class="alert alert-success" ng-show="dashboard.new_dashboard.success" role="alert">{{dashboard.new_dashboard.success_message}}</div>
                    <form>
                        <div class="form-group">
                            <input type="text" ng-model="dashboard.new_dashboard.name" class="form-control" placeholder="Name" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dashboard.cancel_new_dashboard_modal()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="dashboard.create_new_dashboard()">Create</button>
                </div>
            </div>
        </div>
    </div>
    <div id="edit_dashboard_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Dashboard</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="dashboard.edit_dashboard.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{dashboard.edit_dashboard.error_message}}</div>
                    <div class="alert alert-success" ng-show="dashboard.edit_dashboard.success" role="alert">{{dashboard.edit_dashboard.success_message}}</div>
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="edit_dashboard_id" ng-model="dashboard.current" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="edit_dashboard_name" ng-model="dashboard.dashboards[dashboard.current].name" class="form-control" placeholder="Name" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dashboard.cancel_edit_dashboard_modal()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="dashboard.update()">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_dashboard_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete Dashboard</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="dashboard.delete_dashboard.error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{{dashboard.delete_dashboard.error_message}}</div>
                    <div class="alert alert-success" ng-show="dashboard.delete_dashboard.success" role="alert">{{dashboard.delete_dashboard.success_message}}</div>
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="delete_dashboard_id" ng-model="dashboard.current" class="form-control" />
                        </div>
                        <div class="form-group">
                            <h4>Delete <span id="delete_dashboard_name">{{dashboard.dashboards[dashboard.current].name}}</span>?</h4>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dashboard.cancel_delete_dashboard_modal()">Cancel</button>
                    <button type="submit" class="btn btn-danger" ng-click="dashboard.delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>