<!DOCTYPE HTML>
<html>
<head>
    <title>Urim Dashboard Front-end Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/build/urim-test.min.css" />
    <script src="/build/urim-test.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            mocha.checkLeaks();
            mocha.globals(['jQuery']);
            mocha.run();
        });
    </script>
</head>
<body>
    <div id="mocha"></div>
</body>
</html>